@model IEnumerable<ShopingCart.Models.orderItem>
<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 30px
        }

    input:checked + .slider {
        background-color: #2196F3;
        border-radius: 30px
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    #tblEmployee tr:nth-child(even) {
        background-color: black;
    }

    #tblEmployee, th, td {
        border: 1px solid white;
    }

        #tblEmployee tr:hover {
            background-color: black;
        }

    body {
        background: black;
    }

    .a {
        background: white;
        height: 1030px;
        width: 500px;
        margin: 100px auto;
        border-radius: 30px
    }

    input[type=text], input[type=number], input[type=date], input[type=email], select {
        border: 2px solid black !important;
    }

    input[type=submit] {
        color: white;
    }

    #table {
        border: solid 2px;
        border-top-color: black;
        border-right-color: black;
        border-bottom-color: black;
        border-left-color: black;
        width: 100%;
        border-collapse: collapse;
        font-family: Arial, sans-serif;
        font-size: 14px;
        background-color: #ddddee; /* Light grayish-blue background color */
    }

        #table th, #table td {
            border: solid 1px black; /* Dark border for table cells */
            padding: 10px; /* Increased padding inside cells */
            text-align: left; /* Align text left within cells */
        }

        #table th {
            background-color: black; /* Dark purple background color for headers */
            color: white; /* White text color for headers */
            font-weight: bold; /* Bold font for headers */
        }

        #table tbody tr:nth-child(even) {
            background-color: #f0f0f0; /* Light gray alternate row color */
        }
</style>
<table id="table">
    <thead>
        <tr>
            <th>Order Item Id</th>
            <th>Product name</th>
            <th>Product Price</th> 
            <th>Product Quantity</th> 
            <th>Entery Date</th>
           

         
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.OrderaItemId</td>
                <td>@item.ProductName</td>
                <td>@item.ProductPrice</td>
                <td>@item.Quantity</td>
              
               
                
                <td>@item.EntryDate</td>
             


              
            </tr>
        }

    </tbody>
</table>
