@model IEnumerable<ShopingCart.Models.OrderMaster>
<style>


    #tblEmployee tr:nth-child(even) {
        background-color: black;
    }

    #tblEmployee, th, td {
        border: 1px solid white;
    }

        #tblEmployee tr:hover {
            background-color: deeppink;
        }

    body {
        background: black;
    }

    .a {
        background: white;
        height: 1030px;
        width: 500px;
        margin: 100px auto;
        border-radius: 30px
    }

    input[type=text], input[type=number], input[type=date], input[type=email], select {
        border: 2px solid black !important;
    }

    input[type=submit] {
        color: white;
    }

    #table {
        border: solid 2px;
        border-top-color: black;
        border-right-color: black;
        border-bottom-color: black;
        border-left-color: black;
        width: 100%;
        border-collapse: collapse;
        font-family: Arial, sans-serif;
        font-size: 14px;
        background-color: #ddddee; /* Light grayish-blue background color */
    }

        #table th, #table td {
            border: solid 1px black; /* Dark border for table cells */
            padding: 10px; /* Increased padding inside cells */
            text-align: left; /* Align text left within cells */
        }

        #table th {
            background-color: black; /* Dark purple background color for headers */
            color: white; /* White text color for headers */
            font-weight: bold; /* Bold font for headers */
        }

        #table tbody tr:nth-child(even) {
            background-color: #f0f0f0; /* Light gray alternate row color */
        }

</style>
<table id="table">

    <thead>
        <tr>
            <th>User Id</th>
            <th>User Name</th>
            <th>Total Amount</th>
            <th>Entry Date</th>
            <th>Order ID</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserId</td>
                <td>@item.UserNAme</td>
                <td>@(item.TotalAmount)</td>
                <td>@item.EnteryDate</td>
                <td><a id="a" href="#" style="text-decoration:underline" data-toggle="modal" data-target="#myModal">@item.OrderId</a></td>
            </tr>
        }

    </tbody>
</table>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>

    $(document).on('click', '#searchResults table tbody tr td:last-child', function () {

        var cellValue = $(this).text().trim();
        $.ajax({
            url: '/Admin/OrderItemReport',
            type: 'GET',
            data: {
                OrderId: cellValue
            },
            success: function (response) {
                debugger;
                $("#itemreport").html(response)



            },
        });
    });
</script>

