@model IEnumerable<ShopingCart.Models.Vendor>
<style>
  
    #table {
        border: solid 2px;
        border-top-color:black;
        border-right-color: black;
        border-bottom-color: black;
        border-left-color: black;
        width: 100%;
        border-collapse: collapse;
        font-family: Arial, sans-serif;
        font-size: 14px;
        text-align: center;
    }

        #table th, #table td {
            border: solid 1px black; /* Dark border for table cells */
            padding: 10px; /* Increased padding inside cells */
            text-align: left; /* Align text left within cells */
        }

        #table th {
            background-color: black; /* Dark purple background color for headers */
            color: white; /* White text color for headers */
            font-weight: bold; /* Bold font for headers */
        }

        #table tbody tr:nth-child(even) {
            background-color: #f0f0f0; /* Light gray alternate row color */
        }
        tr{
            font-weight:bold;
            text-align:center;
            
        }

   
    td a:hover::after {
        content: "click for show Order Item";
        position: absolute;
        background-color: #f0f0f0;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 12px;
        color: #333;
    }


</style>
<table id="table">

    <thead>
        <tr>
            <th>Vendor Id</th>
            <th>Vendor Name</th>
            <th>Vendor Email</th>
            <th>Vendor Address</th>
            <th>Entry Date</th>
            <th>Modify Date</th>
            <th>Status</th>
            <th>Action</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.VendorName</td>
                <td>@item.VendorEmail</td>
                <td>@(item.VendorAddress)</td>
                <td>@item.EntryDate</td>
                <td>@item.ModifyDate</td>
                <td>@(item.IsActive ? "Active" : "Inactive")</td>

               
                <td>
                    <button class='btn btn-success' onclick='GetVendorById(@item.Id)' data-toggle="modal" data-target="#Modal">Edit</button>
                    <button class='btn btn-danger delete-btn' data-id="" onclick="if(confirm('Are you sure you want to delete?')) { DeleteVendor(@item.Id) }">Delete</button>
                </td>
            </tr>
        }

    </tbody>
</table>


